.row
  .col-md-offset-2.col-md-8
    .well
      %h1 About Blocipedia
      %p Blocipedia is a Wiki application that lets you create your own wikis for free. All wikis are markdown enabled, so get creative with your presentation!
      %p Premium membership allows you to make your wikis private. Need help on some of your wikis? Invite others to register and you can add them as a collaborator!
      %br
      %p Created by: Matthew Farley
