.panel.panel-heading
  .panel.panel-title
    %h1= @wiki.markdown_title
.panel.panel-body
  %p= @wiki.markdown_body
  %br
  %row
  - if @wiki.private && @wiki.collaborations != []
    %h4#collaboration-header
      .col-md-9
        Collaborators
      - if current_user.owns? @wiki
        .col-md-3
          Delete
      %br
  - @wiki.collaborations.each do |collaboration|
    %row
      .col-md-3
        = collaboration.user.name
      - if current_user.owns? @wiki
        .col-md-1
          %span.badge.delete
            = link_to "", collaboration_path(collaboration), method: :delete, class: 'glyphicon glyphicon-unchecked', data: { confirm: 'Are you sure?' }
      %br
