.panel.panel-default
  .panel-heading
    .panel-title
      %h1 New Wiki
  .panel-body
    %h3 Guidelines for wikis:
    %p Body must be at least 10 characters.
    .col-md-8
      = render partial: 'form', locals: { wiki: @wiki }
  .panel-footer
    = link_to "Back", wikis_path