.panel.panel-default
  .row  
    .col-md-12
      = render partial: 'wiki', locals: { wiki: @wiki }
  .panel.panel-footer
    .row
      .col-md-2#button-group
        - if wiki_is_editable?(@wiki)
          = link_to "Edit", edit_wiki_path, class: 'btn btn-primary'
          - if current_user && current_user.destroy?(@wiki)
            = link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' }
      .col-md-12     
        = link_to "All Wikis", wikis_path