//= require_tree .
@import "bootstrap-sprockets";
@import "bootstrap";

.btn.btn-primary{
  background-color: #AE9167;
  border-color: #856941;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #856941;
  border-color: #856941;
}

body {
  background: #D1C5B7;
  font-family: "Open Sans";
}
.navbar-default {
  border: none;
  margin-bottom: 0px;
}
#header {
  background: #856941;
  padding-right: 0px;
}
#brand {
  color: white;
  &:hover {
    background: #D1C5B7;
    color: #0193B7;
  }
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li > a {
  height: 51px;
  padding-top: 14px;
  border: none;
  border-radius: 0px;
  color: white;
  margin-right: 0px;
  &:hover {
    background: #D1C5B7;
    color: #0193B7;
  }
}
#content {
  background: transparent;
}
.well {
  background: #BB9F78;
  border: none;
}
#main-well {
  margin-top: 10px;
}

.container {
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.panel {
  box-shadow: none;
}
.panel.panel-heading {
  background-color: whitesmoke;
  border-bottom: 1px solid #dddddd;
}
.panel-title {
  background-color: whitesmoke;
}
.panel-footer {
  margin-bottom: 0px;
}